// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/alert';
@import 'components/callout';
@import 'components/example-callout';
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

// Overrides auto reload div background colour
#hc_extension_bkgnd {
  background-color: $color_nhsuk-grey-4 !important;
}

// nhsuk-list variant with a border
.nhsuk-list--border {
  li {
    @include top-and-bottom;

    border-bottom: 1px solid $color_nhsuk-grey-4;
    margin-bottom: 0;
    padding: nhsuk-spacing(3) nhsuk-spacing(0);

    &:first-of-type {
      border-top: 1px solid $color_nhsuk-grey-4;
    }
  }
}

code {
  @include nhsuk-responsive-margin(4, "bottom");

  background: $color_nhsuk-white;
  border: 1px solid $nhsuk-border-color;
  overflow: auto;
  margin-top: 0;
  padding: nhsuk-spacing(3);
  position: relative;
}

code,
p code {
  background: $color_nhsuk-white;
  border: 1px solid $nhsuk-border-color;
  padding: nhsuk-spacing(1) nhsuk-spacing(3);
  font-size: 0.8em;
}
