<div class="nhsuk-grid-row nhsuk-card-group">
  <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <p>
          <span class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">91</span>
          <a href="#" class="nhsuk-card__link nhsuk-link--unvisited">Applicants</a>
        </p>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <p>
          <span class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">23</span>
          <a href="#" class="nhsuk-card__link nhsuk-link--unvisited">Jobs</a>
        </p>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--green">
      <div class="nhsuk-card__content">
        <p>
          <span class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">8</span>
          <a href="#" class="nhsuk-card__link nhsuk-link--unvisited">Services</a>
        </p>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--blue">
      <div class="nhsuk-card__content">
        <p>
          <span class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">33</span>
          <a href="#" class="nhsuk-card__link nhsuk-link--unvisited">Messages</a>
        </p>
      </div>
    </div>
  </div>
</div>
