<div class="nhsuk-card-full-width">
  <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon nhsuk-card--app">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading"><a href="#" class="nhsuk-link--unvisited">Order a repeat prescription</a></h3>
    </div>
  </div>
</div>

<ul class="nhsuk-grid-row nhsuk-card-group nhsuk-card-group--list nhsuk-card-full-width">
  <li class="nhsuk-grid-column-full nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon nhsuk-card--app">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading"><a href="#" class="nhsuk-link--unvisited">View your orders</a></h3>
        <p class="nhsuk-card__description">See repeat prescriptions you have ordered</p>
      </div>
    </div>
  </li>
  <li class="nhsuk-grid-column-full nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--icon nhsuk-card--app">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading"><a href="#" class="nhsuk-link--unvisited">Nominate a pharmacy</a></h3>
        <p class="nhsuk-card__description">Choose a pharmacy for your prescriptions to be sent to</p>
      </div>
    </div>
  </li>
</ul>
