<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Introduction to care and support</a></h2>
        <p class="nhsuk-card__description">A quick guide for people who have care and support needs and their carers.</p>
      </div>
    </div>
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Help from social services and charities</a></h2>
        <p class="nhsuk-card__description">Includes helplines, needs assessments, advocacy and reporting abuse.</p>
      </div>
    </div>
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Money, work and benefits</a></h2>
        <p class="nhsuk-card__description">How to pay for care and support, and where you can get help with costs.</p>
      </div>
    </div>
  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Care after a hospital stay</a></h2>
        <p class="nhsuk-card__description">Includes hospital discharge and care and support afterwards.</p>
      </div>
    </div>
  </li>
</ul>
