<div class="nhsuk-card nhsuk-card--interruption">
  <div class="nhsuk-card__content">
    <span class="nhsuk-card__caption nhsuk-caption-m">Ask a health professional for advice</span>
    <h1 class="nhsuk-card__heading nhsuk-u-margin-bottom-4">This is a connected service</h1>
    <p>Your GP surgery has chosen this online consultation service provided by <strong>DoctorLink</strong>.</p>
    <form action="" method="post">
      <input type="submit" class="nhsuk-button nhsuk-button--reverse" value="Continue">
    </form>
    <p><a id="privacyNoticeLink" target="_blank" rel="noopener noreferrer" href="/privacynotice"><!-- react-text: 44 -->How your data will be processed using this service<!-- /react-text --><span class="nhsuk-u-visually-hidden"> - Page opens in new window</span></a><span aria-hidden="true"> (opens in new window).</span></p>
  </div>
</div>
