<div class="nhsuk-card nhsuk-card--clickable">
  <img class="nhsuk-card__img" src="/images/placeholder-image-16-9.jpg" alt="">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading"><a href="#">Making digital services more inclusive</a></h3>
    <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-secondary-text-color"><span class="nhsuk-u-visually-hidden">Published on: </span>7 January 2020</p>
    <p class="nhsuk-card__description">The NHS digital service manual helps teams make their services more respectful and inclusive. But it’s not always easy to get it right as Sara Wilcox, the content designer on the team, explains.</p>
  </div>
</div>
