<div class="nhsuk-card nhsuk-card--clickable">
  <img class="nhsuk-card__img" src="/images/placeholder-image-16-9.jpg" alt="">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading"><a href="#">Healthy living</a></h3>
    <p class="nhsuk-card__description">Advice, tips and tools to help you make the best choices about your health and wellbeing.</p>
    <ul class="nhsuk-list">
      <li><a href="#">Lose weight</a></li>
      <li><a href="#">Eat well</a></li>
      <li><a href="#">Exercise</a></li>
    </ul>
  </div>
</div>
