<div class="nhsuk-card">
  <div class="nhsuk-card__video">
    <iframe src="https://www.youtube-nocookie.com/embed/Bzs_qJtuxE4" title="NHS digital service manual - show and tell 18 July 2019" allowfullscreen></iframe>
  </div>
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">NHS digital service manual show and tell</h3>
    <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-secondary-text-color">18 July 2019</p>
    <p class="nhsuk-card__description">The team talks about accessibility guidance, improvements to the NHS website and community contributions for the digital service manual.</p>
  </div>
</div>
