{% extends 'layout.html' %}

{% block pageTitle %}
  Acrivastine example page - Design system testing
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
  <h1>
    
      Acrivastine
    
  </h1>

  
    <aside class="nhsuk-u-margin-bottom-8">
      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3">On this page</h2>
      <ol class="nhsuk-body-s">
        
          <li>About acrivastine</li>
        
          <li>Key facts</li>
        
          <li>Who can and can't take acrivastine</li>
        
          <li>How and when to take it</li>
        
          <li>Side effects</li>
        
          <li>How to cope with side effects</li>
        
          <li>Pregnancy and breastfeeding</li>
        
          <li>Cautions with other medicines</li>
        
          <li>Common questions</li>
        
      </ol>
    </aside>
  


        
  
    <section id="about-acrivastine">
      <h2>1. About acrivastine</h2>
      <div class="block-richtext"><p>Acrivastine is an antihistamine medicine that relieves the symptoms of allergies.</p>
<p>It's used to treat <a href="/conditions/hay-fever/">hay fever</a>, <a href="/conditions/conjunctivitis/">conjunctivitis</a> (red, itchy eyes), <a href="/conditions/atopic-eczema/">eczema</a> and <a href="/conditions/hives/">hives</a> (urticaria). </p>
<p>It's also used for reactions to <a href="/conditions/insect-bites-and-stings/">insect bites and stings</a> and for some <a href="/conditions/food-allergy/">food allergies</a>.</p>
<p>Acrivastine is known as a non-drowsy antihistamine. It's less likely to make you feel sleepy than some other antihistamines.</p>
<p>Acrivastine is available on prescription. You can also buy it from pharmacies and supermarkets.</p>
<p>It comes as capsules. Sometimes it's combined with a decongestant called pseudoephedrine to unblock your nose and sinuses.</p>
</div>
    </section>
  
    <section id="key-facts">
      <h2>2. Key facts</h2>
      <div class="block-richtext"><ul>
<li>It's usual to take acrivastine as you need it, up to 3 times a day.</li>
<li>Acrivastine is classed as non-drowsy antihistamine, but some people still find it makes them feel quite sleepy.</li>
<li>Common side effects include a dry mouth and dizziness.</li>
<li>Do not drink grapefruit juice while you're taking acrivastine - it might make you more likely to get side effects.</li>
<li>It's best not to drink alcohol while you're taking acrivastine as it can make you feel sleepy.</li>
<li>Acrivastine is also called by the brand name Benadryl Allergy Relief. When it's mixed with pseudoephedrine, it's called Benadryl Allergy Relief Plus Decongestant. Some Benadryl products don't contain acrivastine, but a different antihistamine such as cetirizine.</li>
</ul>
</div>
    </section>
  
    <section id="who-can-and-cant-take-acrivastine">
      <h2>3. Who can and can't take acrivastine</h2>
      <div class="block-richtext"><p>Acrivastine capsules that you buy from pharmacies and supermarkets can be taken by adults under the age of 65, and children aged 12 years and over.</p>
<p>Acrivastine isn't recommended for people over 65 years old because very little research on the medicine has been done in this age group. </p>
<p>Talk to your pharmacist or doctor if you're over 65 and want to take acrivastine.</p>
<p><strong>Acrivastine isn't suitable for some people. Tell your doctor or pharmacist if you</strong>:</p>
<ul>
<li>have had an allergic reaction to acrivastine or any other medicines in the past</li>
<li>have an intolerance to or cannot absorb some sugars, such as lactose or sorbitol</li>
<li>have kidney disease</li>
<li>have <a href="/conditions/epilepsy/">epilepsy</a> or another health problem that puts you at risk of seizures</li>
<li>have a rare illness called porphyria</li>
<li>are booked to have an allergy test - taking acrivastine may affect the results, so you might need to stop taking it a few days before the test</li>
</ul>
</div>
    </section>
  
    <section id="how-and-when-to-take-it">
      <h2>4. How and when to take it</h2>
      <div class="block-richtext"><p>If you or your child have been prescribed acrivastine, follow your doctor's instructions about how and when to take it. </p>
<p>If you bought acrivastine from a pharmacy or shop, follow the instructions that come 
with the packet.</p>
<h3>How much will I take?</h3>
<p>Acrivastine comes as capsules (8mg). The usual dose in adults and children aged 12 years and over is 1 capsule 3 times a day. </p>
<p>When it's mixed with a decongestant, each capsule contains 8mg of acrivastine and 60mg of pseudoephedrine. The usual dose in adults and children aged 12 years and over is 1 capsule 3 times a day.</p>
<p>Do not take more than 3 acrivastine capsules, or 3 acrivastine mixed with pseudoephedrine capsules, in 24 hours.</p>
<h3>How to take it</h3>
<p>Acrivastine doesn't usually upset your stomach. You can take it whether you have eaten recently or not.</p>
<p>Swallow the capsules whole. Do not chew them.</p>
<p>Always take acrivastine capsules with a drink of water, milk or juice (but do not drink grapefruit juice with acrivastine as you may be more likely to get side effects).</p>
<h3>When to take it</h3>
<p>You may only need to take acrivastine on a day you have symptoms, such as if you have been exposed to something you're allergic to like animal hair.</p>
<p>Or you may need to take it regularly to prevent symptoms, such as to stop hay fever during spring and summer.</p>
<h3>What if I forget to take it?</h3>
<p>Take your forgotten dose as soon as you remember, unless it's nearly time for your next dose. </p>
<p>Do not take a double dose to make up for a forgotten dose. Do not take more than 3 capsules in 24 hours.</p>
<p>If you forget doses often, it may help to set an alarm to remind you. You could also ask your pharmacist for advice on other ways to help you remember to take your medicine.</p>
<h3>What if I take too much?</h3>
<p>Acrivastine is generally very safe. Taking too much is unlikely to harm you. If you take an extra dose by mistake, you might get some of the common side effects. </p>
<p>If this happens or you're concerned, contact your doctor.</p>
</div>
<div class="block-care_card">

<div class="nhsuk-callout nhsuk-callout--urgent">
  <h2>
        <span class="nhsuk-u-visually-hidden">Urgent advice: </span>Call your doctor or go to A&amp;E straight away if:
      </span>
    </h2>
    
      <p>You take too much acrivastine and pseudoephedrine (Benadryl Allergy Relief Plus  Decongestant) and experience side effects.</p>
<p>These include:</p>
<ul>
<li>getting the shakes</li>
<li>changes in your heart rate</li>
</ul>
<p><a href="/service-search/Accident-and-emergency-services/LocationSearch/428">Find your nearest hospital accident and emergency (A&amp;E) department</a></p>

</div>
    </section>
  
    <section id="side-effects">
      <h2>5. Side effects</h2>
      <div class="block-richtext"><p>Like all medicines, acrivastine can cause side effects, although not everyone gets them.</p>
<h3>Common side effects</h3>
<p>The most common side effect of acrivastine is feeling sleepy and tired. This happens in more than 1 in 10 people. Talk to your doctor or pharmacist if this side effect bothers you or won't go away.</p>
<p>Other common side effects of acrivastine happen in more than 1 in 100 people. </p>
<p>Talk to your doctor or pharmacist if these side effects bother you or won't go away:</p>
<ul>
<li>dry mouth</li>
<li>feeling dizzy</li>
</ul>
<p>Common side effects of acrivastine mixed with pseudoephedrine happen in more than 1 in 100 people. </p>
<p>They include:</p>
<ul>
<li>difficulty sleeping</li>
<li>seeing things that aren't there (hallucinations)</li>
<li>rashes</li>
<li>difficulty peeing in men - especially men with an enlarged prostate</li>
</ul>
<h3>Serious allergic reaction</h3>
<p>In rare cases, it's possible to have a serious allergic reaction <a href="/conditions/anaphylaxis/">(anaphylaxis)</a> to acrivastine.</p>
</div>
<div class="block-care_card">

<div class="nhsuk-callout nhsuk-callout--immediate">
  <h2>
        <span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 or go to A&amp;E if:
    </h2>
    
      <ul>
<li>you get a skin rash that may include itchy, red, swollen, blistered or peeling skin </li>
<li>you're wheezing </li>
<li>you get tightness in the chest or throat </li>
<li>you have trouble breathing or talking </li>
<li>your mouth, face, lips, tongue or throat start swelling</li>
</ul>
<p>You could be having a serious allergic reaction and may need immediate treatment in hospital.</p>
</div>
<div class="block-richtext"><p>These aren't all the side effects of acrivastine. For a full list, see the leaflet inside your medicines packet.</p>
</div>
<div class="nhsuk-callout nhsuk-callout--highlight">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>You can report any suspected side effect to the <a href="https://yellowcard.mhra.gov.uk/">UK safety scheme</a>.</p>

</div>
</div>
    </section>
  
    <section id="how-to-cope-with-side-effects">
      <h2>6. How to cope with side effects</h2>
      <div class="block-richtext"><p><strong>What to do about:</strong></p>
<ul>
<li><strong>dry mouth</strong> - chew sugar-free gum or suck sugar-free sweets</li>
<li><strong>feeling dizzy</strong> - lie down until the dizziness passes, then get up slowly. Move slowly and carefully. Avoid coffee, cigarettes, alcohol and recreational drugs. If the dizziness doesn't get better within a couple of days, speak to your pharmacist or doctor.</li>
<li><strong>difficulty sleeping</strong> - avoid having a big meal, smoking, or drinking alcohol, tea or coffee in the evening. Try not to watch television or use your mobile phone before going to bed. Instead, try to relax for an hour before bedtime.</li>
<li><strong>seeing things that aren't there (hallucinations)</strong> - talk to your doctor about this</li>
<li><strong>rashes</strong> - if you develop a rash after starting this medicine, check with your doctor or pharmacist as you may need a different type of antihistamine</li>
<li><strong>difficulty peeing</strong> - relax when you try to pee. Don't try to force the flow of urine. If it doesn't happen, try again later. Talk to your doctor urgently if you can't pee at all.</li>
</ul>
</div>
    </section>
  
    <section id="pregnancy-and-breastfeeding">
      <h2>7. Pregnancy and breastfeeding</h2>
      <div class="block-richtext"><p>Acrivastine isn't normally recommended during pregnancy.</p>
<p>A similar antihistamine called <a href="https://beta.nhs.uk/medicines/loratadine/">loratadine</a> is normally used first because there's more information to say that it's safe.</p>
<p>Talk to your doctor about the benefits and possible harms of taking acrivastine. It'll also depend on how many weeks pregnant you are and the reason you need to take acrivastine.</p>
<h3>Acrivastine and breastfeeding</h3>
<p>There's not a lot of information on the use of acrivastine during breastfeeding, so it's best not to take it.</p>
<p>It's usually safe to take similar antihistamines called <a href="/medicines/loratadine/">loratadine</a> and <a href="https://beta.nhs.uk/medicines/cetirizine/">cetirizine</a> while you're breastfeeding.</p>
<p>But speak to your doctor before taking any antihistamine if your baby was premature, had a low birth weight, or has health problems.</p>
</div>
<div class="block-care_card">

<div class="nhsuk-callout nhsuk-callout--notice">
  <h3>
        <span class="nhsuk-u-visually-hidden">Non-urgent advice:  </span>Talk to your doctor if you're:
    </h3>
    
      <ul>
<li>trying to get pregnant</li>
<li>pregnant</li>
<li>breastfeeding</li>
</ul>
</div>
    </section>
  
    <section id="cautions-with-other-medicines">
      <h2>8. Cautions with other medicines</h2>
      <div class="block-richtext"><p>Some medicines and acrivastine interfere with each other and increase the chances of you having side effects. </p>
<p>Check with your pharmacist or doctor if you're taking:</p>
<ul>
<li>midodrine, a medicine used to treat <a href="/conditions/low-blood-pressure-hypotension/">low blood pressure (hypotension)</a></li>
<li>ketoconazole, a medicine to treat fungal infections</li>
<li><a href="https://beta.nhs.uk/medicines/erythromycin/">erythromycin</a>, an antibiotic</li>
<li>ritonavir, a medicine used to treat HIV infection</li>
<li>any medicine that makes you sleepy, gives you a dry mouth, or makes it difficult for you to pee - taking acrivastine might make these side effects worse</li>
</ul>
<p>Acrivastine mixed with pseudoephinedrine (Benadryl Allergy Relief Plus Decongestant) interferes with lots of medicines. Check with your pharmacist or doctor before you take it.</p>
<h3>Mixing acrivastine with herbal remedies and supplements</h3>
<p>There might be a problem taking some herbal remedies and supplements alongside acrivastine, especially ones that cause sleepiness, a dry mouth, or make it difficult to pee.</p>
<p>Ask your pharmacist for advice.</p>
</div>
<div class="nhsuk-callout nhsuk-callout--feature nhsuk-callout--warning">
  <h3 class="nhsuk-callout__heading--feature">Important</h3>
  <p>Tell your doctor or pharmacist if you're taking any other medicines, including herbal remedies, vitamins or supplements.</p>
</div>
    </section>
  
    <section id="common-questions">
      <h2>9. Common questions</h2>
      <div class="nhsuk-expander-group">
<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details0">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    How does acrivastine work?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
    
      <p>Acrivastine is a medicine called an antihistamine.</p>
<p>When you come into contact with something you're allergic to, such as pollen, animal hair or fur, house dust, or insect bites and stings, your body produces a chemical called histamine.</p>
<p>Usually histamine is a useful substance, but in an allergic reaction it causes unpleasant symptoms including itchy, watery eyes, a running or blocked nose, sneezing and skin rashes.</p>
<p>Acrivastine blocks the effects of histamine and reduces these symptoms.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details1">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text1" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    When will I feel better?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text1" aria-hidden="true">
    
      <p>You should start to feel better within an hour or two of taking acrivastine.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details2">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text2" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    How long should I take acrivastine for?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text2" aria-hidden="true">
    
      <p>It depends on why you're taking acrivastine.</p>
<p>You may only need to take it as a one-off dose or for a day or two - for example, if you have a reaction to an insect bite.</p>
<p>You may need to take acrivastine for longer if you're taking it to prevent symptoms - for example, to stop hay fever when the pollen count is high.</p>
<p>Talk to your doctor or pharmacist if you're unsure how long you need to take acrivastine for.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details3">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text3" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Is it safe for me to take acrivastine for a long time?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text3" aria-hidden="true">
    
      <p>Acrivastine is unlikely to do you any harm if you take it for a long time. But it's best to take acrivastine only for as long as you need to.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details4">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text4" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Can I drink alcohol with it?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text4" aria-hidden="true">
    
      <p>It's best not to drink alcohol while you're taking acrivastine as it can make you feel sleepy.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details5">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text5" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Is there any food or drink I need to avoid?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text5" aria-hidden="true">
    
      <p>Do not drink grapefruit juice when you're taking acrivastine. It might make you more likely to have side effects.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details6">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text6" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Can I drive or ride a bike with it?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text6" aria-hidden="true">
    
      <p>Acrivastine is classed as a non-drowsy antihistamine, but it's still possible to feel sleepy after taking it.</p>
<p>If this happens to you, do not drive a car or ride a bike until you feel better.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details7">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text7" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Can I use acrivastine to help me sleep?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text7" aria-hidden="true">
    
      <p>Do not use acrivastine to help you sleep. It's not meant to be used this way and probably won't work either.</p>
<p>If you take the recommended dose, acrivastine causes little or no sleepiness in most people.</p>
<p>If you do feel sleepy after taking acrivastine, it usually wears off after a few days of treatment.</p>
<p>Speak to your doctor if you're having difficulty sleeping.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details8">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text8" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Does acrivastine make you put on weight?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text8" aria-hidden="true">
    
      <p>There's no evidence that acrivastine makes you put on weight.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details9">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text9" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    What's the difference between acrivastine and other antihistamines?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text9" aria-hidden="true">
    
      <p>Acrivastine is known as a non-drowsy antihistamine. That's because it's less likely to make you feel sleepy than other so-called sedating antihistamines, such as Piriton (chlorphenamine). </p>
<p>Most people prefer to take a non-drowsy antihistamine instead of a sedating one. </p>
<p>An exception is when you want the medicine to make you sleepy - for example, if you have itchy skin that's keeping you awake.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details10">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text10" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    What's the difference between acrivastine and other non-drowsy antihistamines?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text10" aria-hidden="true">
    
      <p>Other non-drowsy antihistamines like <a href="https://beta.nhs.uk/medicines/cetirizine/">cetirizine</a>, <a href="/medicines/loratadine/">loratadine</a>, desloratadine, fexofenadine and levocetirizine seem to work just as well as acrivastine.</p>
<p>But you need to take acrivastine 3 times a day, whereas other non-drowsy antihistamines are only taken once a day.</p>
<p>If one non-drowsy antihistamine hasn't worked for you, it's worth trying another one.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details11">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text11" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Can I take it with painkillers?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text11" aria-hidden="true">
    
      <p>Yes, you can take acrivastine together with <a href="https://beta.nhs.uk/medicines/paracetamol-for-adults/">paracetamol</a> or <a href="https://beta.nhs.uk/medicines/ibuprofen-for-adults/">ibuprofen</a>.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details12">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text12" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Can I take more than 1 antihistamine together?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text12" aria-hidden="true">
    
      <p>Sometimes doctors recommend that people with a severe itchy skin rash take 2 different antihistamines together for a few days.</p>
<p>As well as taking a non-drowsy antihistamine during the day (such as acrivastine, <a href="medicines/cetirizine/">cetirizine</a> or <a href="medicines/loratadine/">loratadine</a>), your doctor may advise that you take a sedating antihistamine at night if the itch is making it difficult to sleep. </p>
<p>Do not take 2 antihistamines together unless you have been advised to by your doctor.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details13">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text13" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Can I take acrivastine with other hay fever treatments?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text13" aria-hidden="true">
    
      <p>Yes, it's fine to take acrivastine together with other hay fever treatments - for example, steroid nasal sprays (such as Beconase, Rhinacort Aqua and Flixonase Nasules) or eye drops.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details14">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text14" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Will it affect my fertility?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text14" aria-hidden="true">
    
      <p>There's no firm evidence to suggest that taking acrivastine will reduce fertility in either men or women.</p>
<p>But speak to a pharmacist or your doctor before taking it if you're trying to get pregnant.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details15">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text15" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Will it affect my contraception?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text15" aria-hidden="true">
    
      <p>Acrivastine doesn't affect any type of contraception, including the <a href="/conditions/contraception/combined-contraceptive-pill/">combined pill</a> and <a href="/conditions/contraception/emergency-contraception/">emergency contraception</a>.</p>

    
  </div>
</details>

<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details16">
  <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text16" tabindex="0" aria-expanded="false">
    <span class="nhsuk-details__summary-text">
    Can lifestyle changes relieve hay fever?
    </span>
  </summary>
  <div class="nhsuk-details__text" id="nhsuk-details__text16" aria-hidden="true">
    
      <p>It'll help if you don't spend too much time outside if the pollen count is high.</p>
<p><strong>Tips for when you're outside</strong></p>
<ul>
<li>Do not cut grass or walk on grass.</li>
<li>Wear wraparound sunglasses to stop pollen getting into your eyes.</li>
<li>Put Vaseline around your nostrils to help trap pollen.</li>
<li>Shower and change your clothes after you have been outside to wash off pollen.</li>
</ul>
<p><strong>Tips for when you're inside</strong></p>
<ul>
<li>Keep windows and doors shut as much as possible.</li>
<li>Vacuum regularly and dust with a damp cloth.</li>
<li>Do not keep fresh flowers in the house.</li>
<li>Do not smoke or be around smoke as it makes hay fever symptoms worse.</li>
</ul>

    
  </div>
</details>
</div>
    </section>
  


      </div>
  </div>
{% endblock %}
