{% extends 'layout.html' %}

{% block pageTitle %}
  Health A to Z - Design system testing
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>Health A to Z</h1>
      <p class="nhsuk-lede-text">Includes conditions, medicines, symptoms, tests and treatments.</p>

      <div class="nhsuk-expander-group">
        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              A
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>AAA</a></li>
              <li><a href='#'>AAA screening</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              B
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Back pain</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              C
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Cancer</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              D
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>AAA</a></li>
              <li><a href='#'>AAA screening</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              E
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Back pain</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              F
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Cancer</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              G
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>AAA</a></li>
              <li><a href='#'>AAA screening</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              H
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Back pain</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              I
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Cancer</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              J
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>AAA</a></li>
              <li><a href='#'>AAA screening</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              K
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Back pain</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              L
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Cancer</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              M
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>AAA</a></li>
              <li><a href='#'>AAA screening</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              N
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Back pain</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              O
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Cancer</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              P
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>AAA</a></li>
              <li><a href='#'>AAA screening</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              Q
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Back pain</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              R
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Cancer</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              S
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>AAA</a></li>
              <li><a href='#'>AAA screening</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              T
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Back pain</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              U
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Cancer</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              V
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>AAA</a></li>
              <li><a href='#'>AAA screening</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              W
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Back pain</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              X
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Cancer</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              Y
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Cancer</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text nhsuk-u-font-size-32">
              Z
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class='nhsuk-list nhsuk-list--border'>
              <li><a href='#'>Cancer</a></li>
              <li><a href='#'>Bed bugs</a></li>
            </ul>
          </div>
        </details>

      </div>

      {{ actionLink({
        "text": "Check a symptom",
        "href": "#",
        "classes": "nhsuk-u-margin-top-4"
      }) }}

  </div>
{% endblock %}
