{% extends 'layout.html' %}

{% block pageTitle %}
  Health A to Z - Design system testing
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>Health A to Z</h1>

      <nav class="nhsuk-u-margin-bottom-9 nhsuk-u-margin-top-4" id="app-nav-a-z" role="navigation" aria-label="A to Z Navigation">
        <ol class="nhsuk-list nhsuk-u-clear nhsuk-u-margin-0" role="list">
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#A">A</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#B">B</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#C">C</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block nhsuk-u-secondary-text-color">D</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#E">E</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#F">F</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#G">G</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#H">H</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#I">I</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#J">J</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#K">K</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#L">L</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#M">M</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#N">N</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#O">O</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#P">P</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Q">Q</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#R">R</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#S">S</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#T">T</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#U">U</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#V">V</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#W">W</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#X">X</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Y">Y</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Z">Z</a>
          </li>
        </ol>
      </nav>

      {{ card({
        "feature": "true",
        "headingHtml": "<h2 id=\"A\" class=\"nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24\">A</h2>",
        "classes": "nhsuk-u-margin-bottom-3",
        "descriptionHtml":
        "<ul class='nhsuk-list nhsuk-list--border'>
          <li><a href='#'>AAA</a></li>
          <li><a href='#'>AAA screening</a></li>
          <li>Abcess, brain, see <a href='#'>Brain abcess</a></li>
          <li>Abcess, brain, see <a href='#'>Breast abcess</a></li>
          <li>Abcess, brain, see <a href='#'>Dental abcess</a></li>
          <li><a href='#'>Achilles pain</a></li>
        </ul>"
      }) }}

      <a class="nhsuk-body-m nhsuk-u-display-inline-block nhsuk-link--no-visited-state" href="#app-nav-a-z">
        Back to top
      </a>

      {{ card({
        "feature": "true",
        "headingHtml": "<h2 id=\"B\" class=\"nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24\">B</h2>",
        "classes": "nhsuk-u-margin-bottom-3",
        "descriptionHtml": "
        <ul class='nhsuk-list nhsuk-list--border'>
          <li><a href='#'>Babies and toddlers</a></li>
          <li>baby rash, see <a href='#'>Rashes in babies or children</a></li>
          <li><a href='#'>Back pain</a></li>
          <li><a href='#'>Balantis</a></li>
        </ul>"
      }) }}

      <a class="nhsuk-body-m nhsuk-u-display-inline-block nhsuk-link--no-visited-state" href="#app-nav-a-z">
        Back to top
      </a>

      {{ card({
        "feature": "true",
        "headingHtml": "<h2 id=\"C\" class=\"nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24\">C</h2>",
        "classes": "nhsuk-u-margin-bottom-3",
        "descriptionHtml": "
        <ul class='nhsuk-list nhsuk-list--border'>
          <li>CABG, see <a href='#'> Coronary artery bypass graft</a></li>
          <li><a href='#'>Cancer</a></li>
        </ul>"
      }) }}

      <a class="nhsuk-body-m nhsuk-u-display-inline-block nhsuk-link--no-visited-state" href="#app-nav-a-z">
        Back to top
      </a>

      {{ card({
        "feature": "true",
        "headingHtml": "<h2 id=\"D\" class=\"nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24\">D</h2>",
        "classes": "nhsuk-u-margin-bottom-3",
        "descriptionHtml": "<p>There are currently no medicines listed</p>"
      }) }}

      <a class="nhsuk-body-m nhsuk-u-display-inline-block nhsuk-link--no-visited-state" href="#app-nav-a-z">
        Back to top
      </a>

  </div>
{% endblock %}
