{% extends 'layout.html' %}

{% block pageTitle %}
  Social care and support guide example page - Design system testing
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-u-reading-width">  
        <h1>Live Well</h1>
        <p class="nhsuk-lede-text">Advice, tips and tools to help you make the best choices about your health and wellbeing.</p>
      </div>

      {% include "includes/card-variants/card-group-third.html" %}

  </div>
{% endblock %}
