<div class="nhsuk-callout nhsuk-callout--immediate">
  <h2>Call 999 now if you have:</h2>
  <ul>
    <li><strong>signs of a heart attack - </strong>pain like a very tight band, heavy weight or squeezing in the centre of your chest</li>
    <li><strong>signs of a stroke - </strong>face drooping on one side, can’t hold both arms up, difficulty speaking</li>
    <li><strong>severe difficulty breathing - </strong>gasping, not being able to get words out, choking or lips turning blue</li>
    <li><strong>heavy bleeding - </strong>that won’t stop</li>
    <li><strong>severe injuries - </strong>or deep cuts after a serious accident</li>
    <li><strong>seizure (fit) - </strong>someone is shaking or jerking because of a fit, or is unconscious (can’t be woken up)</li>
    <li><strong>sudden, rapid swelling - </strong> of the eyes, lips, mouth, throat or tongue</li>
  </ul>
</div>
