<div class="nhsuk-callout nhsuk-callout--urgent nhsuk-callout--block">
  <h2 class="nhsuk-callout__heading nhsuk-callout__heading--block">Ask for an urgent GP appointment if:
    <span class="nhsuk-callout__arrow" aria-hidden="true"></span>
  </h2>
  <ul>
    <li>you're an adult and have chickenpox</li>
    <li>you're pregnant and haven't had chickenpox before and you've been near someone with it </li>
    <li>you have a weakened immune system and you've been near someone with chickenpox</li>
    <li>you think your newborn baby has chickenpox</li>
  </ul>
</div>
