/* ==========================================================================
   COMPONENTS / #ALERT
   ========================================================================== */
/**
 * 1. Removes top margin from first element and bottom margin from last,
 *    to ensure correct spacing within the component.
 */

$nhsuk-border-width-alert: 8px;

.nhsuk-alert {
  @include top-and-bottom(); /* [1] */
  @include nhsuk-responsive-margin(5, 'bottom');
  @include nhsuk-responsive-padding(4);

  font-weight: 600;
  position: relative;

  @include mq($media-type: print) {
    border-color: $nhsuk-print-text-color;
  }

  .nhsuk-alert__heading {
    @include nhsuk-responsive-margin(4, 'bottom');
  }

}

/* Colour variations
   ========================================================================== */

.nhsuk-alert--info {
  background: tint($color_nhsuk-blue, 80%);
  border-left: $nhsuk-border-width-alert solid $color_nhsuk-blue;
}

.nhsuk-alert--warning {
  background: tint($color_nhsuk-red, 80%);
  border-left: $nhsuk-border-width-alert solid $color_nhsuk-red;
}

.nhsuk-alert--success {
  background: tint($color_nhsuk-green, 80%);
  border-left: $nhsuk-border-width-alert solid $color_nhsuk-green;
}

.nhsuk-alert--warm-yellow {
  background: tint($color_nhsuk-warm-yellow, 60%);
  border-left: $nhsuk-border-width-alert solid $color_nhsuk-warm-yellow;
}

.nhsuk-alert--yellow {
  background: tint($color_nhsuk-yellow, 60%);
  border-left: $nhsuk-border-width-alert solid $color_nhsuk-yellow;
}

/* Alert ssicon
   ========================================================================== */

.nhsuk-alert--icon {
  padding-left: nhsuk-spacing(7);

  @include mq($from: tablet) {
    padding-left: nhsuk-spacing(9);
  }
}

.nhsuk-alert__icon {
  height: 28px;
  left: 10px;
  position: absolute;
  top: 14px;
  width: 28px;

  @include mq($from: tablet) {
    height: 34px;
    left: 18px;
    top: 20px;
    width: 34px;
  }
}

.nhsuk-icon__info {
  fill: $color_nhsuk-blue;
  padding: 4px;
}

.nhsuk-icon__warning {
  fill: $color_nhsuk-red;
  padding: 4px;
}
