/* ==========================================================================
   COMPONENTS / #CALLOUT
   ========================================================================== */
/**
 * 1. Removes top margin from first element and bottom margin from last,
 *    to ensure correct spacing within the component.
 * 2. Restricts the width of the text to optimise the line length for
 *    readability.
 */

$callout-border-width: 8px;
$callout-urgent-border-width: 16px;
$callout-border-bottom-width: 2px;
$callout-feature-border-bottom-width: 1px;

.nhsuk-callout {
  @include top-and-bottom(); /* [1] */
  @include reading-width(); /* [2] */
  @include nhsuk-responsive-margin(6, 'bottom');
  @include nhsuk-responsive-padding(5);

  position: relative;

  @include mq($media-type: print) {
    border-color: $nhsuk-print-text-color;
  }

}

.nhsuk-callout--highlight {
  border: 0;
  border-left: $callout-border-width solid $color_nhsuk-blue;
  padding: nhsuk-spacing(3);
}

.nhsuk-callout--warning {
  background: tint($color_nhsuk-yellow, 70%);
  border-bottom: $callout-border-bottom-width solid shade($color_nhsuk-yellow, 5%);
  border-top: $callout-border-width solid $color_nhsuk-yellow;
}

.nhsuk-callout--notice {
  background: $color_nhsuk-white;
  border-bottom: $callout-border-bottom-width solid $color_nhsuk-blue;
  border-top: $callout-border-width solid $color_nhsuk-blue;
}

.nhsuk-callout--urgent {
  background: $color_nhsuk-white;
  border-bottom: $callout-border-bottom-width solid $color_nhsuk-red;
  border-top: $callout-urgent-border-width solid $color_nhsuk-red;
}

.nhsuk-callout--immediate {
  background: $color_nhsuk-white;
  border: $callout-urgent-border-width solid $color_nhsuk-red;
}

.nhsuk-callout__section-break {
  @include nhsuk-responsive-margin(4, 'bottom');
  @include nhsuk-responsive-margin(4, 'top');
}

/* Callout feature
   ========================================================================== */

.nhsuk-callout--feature {
  @include nhsuk-responsive-margin(6, 'top');
  @include nhsuk-responsive-padding(8, 'top');

  border-top: 0;

  + .nhsuk-callout--feature {
    @include nhsuk-responsive-margin(6, 'top');
  }
}

.nhsuk-callout__heading--feature {
  @include nhsuk-font($size: 24, $weight: bold);

  display: inline-block;
  left: 0;
  padding: nhsuk-spacing(2) nhsuk-spacing(4);
  position: absolute;
  top: - nhsuk-spacing(3);

  @include mq($from: desktop) {
    padding: nhsuk-spacing(2) nhsuk-spacing(5);
  }
}

.nhsuk-callout--feature.nhsuk-callout--warning {
  background: tint($color_nhsuk-yellow, 70%);
  border-bottom: $callout-feature-border-bottom-width solid shade($color_nhsuk-yellow, 5%);

  .nhsuk-callout__heading--feature {
    background: $color_nhsuk-yellow;
    color: $color_nhsuk-black;
  }
}

.nhsuk-callout--feature.nhsuk-callout--notice {
  background: $color_nhsuk-white;
  border-bottom: $callout-feature-border-bottom-width solid $color_nhsuk-grey-4;

  .nhsuk-callout__heading--feature {
    background: $color_nhsuk-blue;
    color: $color_nhsuk-white;
  }
}

