/* ==========================================================================
   COMPONENTS / #CARD
   ========================================================================== */

/**
 * 1. Extra margin is added to compensate for the box-shadow.
 * 2. Box shadow size is set within settings/_globals.scss.
 * 3. Makes the <a> fill the height of it's parent container.
 * 4. Is needed for the :active top positioning.
 * 5. Removes default <a> text underline from all elements.
 * 6. Adds text underline to card heading.
 * 7. Creates the 'pressed down' effect when clicked.
 * 8. Border is used to create a divider between the white content
 *    box and an image.
 */

 /* White link mixin needs updating in the frontend
   ========================================================================== */

 @mixin nhsuk-link-style-white {

  color: $color_nhsuk-white;

  &:visited {
    color: $color_nhsuk-white;
  }

  &:hover {
    color: $color_nhsuk-white;
    text-decoration: none;
  }

  &:focus {
    color: $nhsuk-focus-text-color;
    outline: $nhsuk-focus-width solid transparent;
    outline-offset: $nhsuk-focus-width;
    text-decoration: none;
  }

  &:active {
    color: $nhsuk-link-active-color;
  }

}

.nhsuk-link--white {
  @include nhsuk-link-style-white;
}

 /* Card
   ========================================================================== */

.nhsuk-card {
  @include nhsuk-responsive-margin(5, 'bottom');

  background: $color_nhsuk-white;
  border-bottom: 2px solid $color_nhsuk-grey-4;
  width: 100%;
}

.nhsuk-card__img {
  @include print-hide();

  border-bottom: 1px solid $color_nhsuk-grey-5; /* [8] */
  display: block;
  width: 100%;
}

.nhsuk-card__content {
  @include top-and-bottom();
  @include nhsuk-responsive-padding(5);

  position: relative;
}

.nhsuk-card__heading,
.nhsuk-card__metadata,
.nhsuk-card__description {
  margin-bottom: nhsuk-spacing(3);
}

.nhsuk-card__link {
  @include nhsuk-font($size: 19);

  display: inline-block;
}

.nhsuk-card__list {
  padding-top: nhsuk-spacing(3);
}

/* Card feature
   ========================================================================== */

.nhsuk-card--feature {
  @include nhsuk-responsive-margin(6, 'top');
}

.nhsuk-card__heading--feature {
  background: $color_nhsuk-blue;
  color: $color_nhsuk-white;
  display: inline-block;
  left: 0;
  padding: nhsuk-spacing(2) nhsuk-spacing(4);
  position: absolute;
  top: - nhsuk-spacing(3);

  @include mq($from: desktop) {
    padding: nhsuk-spacing(2) nhsuk-spacing(5);
  }
}

.nhsuk-card__content--feature {
  @include nhsuk-responsive-padding(8, 'top');
}

/* Interruption card
   ========================================================================== */

$color_app-interruption-blue: #05538e;

.nhsuk-card--interruption {
  background: $color_app-interruption-blue;
  border-color: shade($color_app-interruption-blue, 30%);
  color: $color_nhsuk-white;

  a {
    @include nhsuk-link-style-white;
  }
}

/* Card group
   ========================================================================== */

/**
 * Card group allows you to have a row of cards.
 *
 * Flexbox is used to make each card in a row the same height.
 */

.nhsuk-card-group {
  @include flex();
}

.nhsuk-card-group__item {
  @include flex-item();

  @include mq($until: desktop) {

    &:last-child {
      margin-bottom: 0;
    }

  }

}


