/* Expander
   ========================================================================== */
   
.nhsuk-expander {
  background: $color_nhsuk-white;
  border: $card-border-width solid $card-border-color;
  border-bottom-width: $card-border-width-bottom;

  &:hover {
    border-color: $card-border-hover-color;
  }

  .nhsuk-details__summary {
    background: transparent;
    border-top: 0;
    padding: 12px nhsuk-spacing(3);

    @include mq($from: desktop) {
      padding: 20px nhsuk-spacing(4);
    }
  }

  .nhsuk-details__summary[aria-expanded="true"] {
    border-bottom: $card-border-width solid $card-border-color;
  }

  .nhsuk-details__summary-text {
    padding: nhsuk-spacing(1) nhsuk-spacing(1) nhsuk-spacing(1) nhsuk-spacing(6);
  }

  .nhsuk-details__text {
    @include nhsuk-responsive-padding(5);
  }
}

.nhsuk-details__text p {
  @include nhsuk-responsive-margin(4, 'bottom');
}

.nhsuk-expander[open] {
  border-bottom-width: $card-border-width;
}

/* Expander group
   ========================================================================== */

.nhsuk-expander-group > .nhsuk-expander {
  margin-bottom: 0;

  &:not(:last-child){
    border-bottom-width: 0;

    &:hover {
      + .nhsuk-expander {
        border-top: $card-border-width solid $card-border-hover-color;
      }
    }
  }
}


/* Expander grey
   ========================================================================== */

.nhsuk-expander--grey {
  background: $color_nhsuk-grey-5;
}

/* Expander no border
   ========================================================================== */

.nhsuk-expander--no-border {
  border: 0;
}

.nhsuk-expander-group > .nhsuk-expander.nhsuk-expander--no-border {
  margin-bottom: $card-border-width;

  &:hover {
    box-shadow: none;
  }
}
