<table class="nhsuk-table">
  <thead class="nhsuk-table__head">
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header" scope="col"> Class name </th>
      <th class="nhsuk-table__header" scope="col"> Tag </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <code> nhsuk-tag--white </code>
      </td>
      <td class="nhsuk-table__cell">
        {% include "includes/tag-variants/white.html" %}
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <code> nhsuk-tag--grey </code>
      </td>
      <td class="nhsuk-table__cell">
        {% include "includes/tag-variants/grey.html" %}
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <code> nhsuk-tag--green </code>
      </td>
      <td class="nhsuk-table__cell">
        {% include "includes/tag-variants/green.html" %}
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <code> nhsuk-tag--aqua-green </code>
      </td>
      <td class="nhsuk-table__cell">
        {% include "includes/tag-variants/aqua-green.html" %}
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <code> nhsuk-tag--blue </code>
      </td>
      <td class="nhsuk-table__cell">
        {% include "includes/tag-variants/blue.html" %}
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <code> nhsuk-tag--purple </code>
      </td>
      <td class="nhsuk-table__cell">
        {% include "includes/tag-variants/purple.html" %}
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <code> nhsuk-tag--pink </code>
      </td>
      <td class="nhsuk-table__cell">
        {% include "includes/tag-variants/pink.html" %}
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <code> nhsuk-tag--red </code>
      </td>
      <td class="nhsuk-table__cell">
        {% include "includes/tag-variants/red.html" %}
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <code> nhsuk-tag--orange </code>
      </td>
      <td class="nhsuk-table__cell">
        {% include "includes/tag-variants/orange.html" %}
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <code> nhsuk-tag--yellow </code>
      </td>
      <td class="nhsuk-table__cell">
        {% include "includes/tag-variants/yellow.html" %}
      </td>
    </tr>
  </tbody>
</table>
