<table class="nhsuk-table">
  <thead class="nhsuk-table__head">
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header" scope="col"> Name of user </th>
      <th class="nhsuk-table__header" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        Rachel Silver
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag nhsuk-tag--grey">
          Inactive
        </strong>
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        Jesse Smith
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag nhsuk-tag--grey">
          Inactive
        </strong>
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        Joshua Wessel
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag">
          Active
        </strong>
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        Rachael Pepper
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag">
          Active
        </strong>
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        Stuart Say
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag nhsuk-tag--grey">
          Inactive
        </strong>
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        Laura Frith
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag">
          Active
        </strong>
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        Tim Harvey
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag nhsuk-tag--grey">
          Inactive
        </strong>
      </td>
    </tr>
  </tbody>
</table>
