{% extends 'layout.html' %}

{% block pageTitle %}
  Alert - Design system testing
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l">New component</span>
        Alert
      </h1>

      <h2>Overview</h2>
      <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/175">Backlog issue 175 (GitHub)</a></p>

      <h2>When to use an alert</h2>
      <p>Use the alert to display a prominent message and related actions to take.</p>

      <h2>Alert variations</h2>

      <h3>Info</h3>
      <div class="app-example app-example--tag">
        {% include "includes/alert-variants/info.html" %}
      </div>
      
      <h4 class="nhsuk-heading-xs">Info with icon</h4>
      <div class="app-example app-example--tag">
        {% include "includes/alert-variants/info-icon.html" %}
      </div>

      <h3>Success</h3>
      <div class="app-example app-example--tag">
        {% include "includes/alert-variants/success.html" %}
      </div>

      <h4 class="nhsuk-heading-xs">Success with icon</h4>
      <div class="app-example app-example--tag">
        {% include "includes/alert-variants/success-icon.html" %}
      </div>

      <h4 class="nhsuk-heading-xs">Success (confirmation page)</h4>
      <div class="app-example app-example--tag">
        {% include "includes/alert-variants/success-confirmation.html" %}
      </div>
      
      <h3>Warning</h3>
      <div class="app-example app-example--tag">
        {% include "includes/alert-variants/warning.html" %}
      </div>
      
      <h4 class="nhsuk-heading-xs">Warning with icon</h4>
      <div class="app-example app-example--tag">
        {% include "includes/alert-variants/warning-icon.html" %}
      </div>

      <h3>Dismissable alert</h3>
      <div class="app-example app-example--tag">
        {% include "includes/alert-variants/success-dismiss.html" %}
      </div>

      <h2>In context (example pages)</h2>
      <ul>
        <li><a href="/page-examples/e-referral-alert">e-Referral appointment selection</a></li>
        <li><a href="/page-examples/confirmation-page">Confirmation page</a> (Status checker)</li>
      </ul>

      <h2>Grab the code, test with users and feedback</h2>
      <p>The code can be found in the <a href="https://github.com/nhsuk/design-system-testing/tree/master/app">design system testing GitHub repo</a> and copied into your prototype:</p>
      <ul>
        <li><a href="https://github.com/nhsuk/design-system-testing/tree/master/app/views/includes/alert-variants">HTML for the Alert component</a></li>
        <li><a href="https://github.com/nhsuk/design-system-testing/blob/master/app/assets/sass/components/_alert.scss">Sass (CSS) for the Alert component </a></li>
      </ul>
      <p>Help the community by sharing in the <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/175">backlog issue</a> how the design tested.</p>

      {{ backLink({
        "href": "/",
        "text": "Go back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>  
  </div>
{% endblock %}
