<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Alert - Refactoring components
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Breadcrumb -->
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        <span class="nhsuk-caption-l">New component</span>
        Alert
      </h1>

      <p class="nhsuk-lede-text">Use the alert to display a prominent message and related actions to take.</p>

      <h2>Success</h2>

      <div class="nhsuk-alert nhsuk-alert--success">
        <h3 class="nhsuk-u-visually-hidden">Success:</h3>
        <p>
          Offer successfully made to candidate
        </p>
      </div>

      <div class="nhsuk-alert nhsuk-alert--success nhsuk-alert--icon">
        <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-alert__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
        </svg>
        <h3 class="nhsuk-u-visually-hidden">Success:</h3>
        <p>
          The request was created successfully
        </p>
      </div>

      <h2>Warning</h2>

      <div class="nhsuk-alert nhsuk-alert--warning">
        <h3 class="nhsuk-u-visually-hidden">Warning:</h3>
        <p>Please <a href="#">log in</a> to access the site.</p>
      </div>

      <div class="nhsuk-alert nhsuk-alert--warning nhsuk-alert--icon">
        <svg class="nhsuk-icon nhsuk-icon__warning nhsuk-alert__icon" fill="none" aria-hidden="true" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
        <g>
          <g>
            <path d="M501.609,384.603L320.543,51.265c-13.666-23.006-37.802-36.746-64.562-36.746c-26.76,0-50.896,13.74-64.562,36.746
              c-0.103,0.176-0.19,0.352-0.293,0.528L10.662,384.076c-13.959,23.491-14.223,51.702-0.719,75.457
              c13.535,23.769,37.919,37.948,65.266,37.948h360.544c27.347,0,52.733-14.179,66.267-37.948
              C515.524,435.779,515.261,407.566,501.609,384.603z M225.951,167.148c0-16.586,13.445-30.03,30.03-30.03
              c16.586,0,30.03,13.445,30.03,30.03v120.121c0,16.584-13.445,30.03-30.03,30.03s-30.03-13.447-30.03-30.03V167.148z
              M255.981,437.421c-24.839,0-45.046-20.206-45.046-45.046c0-24.839,20.206-45.045,45.046-45.045
              c24.839,0,45.045,20.206,45.045,45.045C301.027,417.214,280.821,437.421,255.981,437.421z"/>
          </g>
        </g>
        </svg>
        <h3 class="nhsuk-u-visually-hidden">Warning:</h3>
        <p>Question weren't sent — try again</p>
      </div>

      <h2>Information</h2>

      <div class="nhsuk-alert">
        <h3 class="nhsuk-u-visually-hidden">Information:</h3>
        <p>You have 4 days to send a response. <a href="#">Respond to application</a>.</p>
      </div>
      
      <div class="nhsuk-alert nhsuk-alert--icon">
        <svg class="nhsuk-icon nhsuk-icon__information nhsuk-alert__icon" fill="none" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
          <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
          C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>
        <h3 class="nhsuk-u-visually-hidden">Information:</h3>
        <p>Check these details before you continue</p>
      </div>
 
    </div>  
  </div>
{% endblock %}
