{% extends 'layout.html' %}

{% block pageTitle %}
  Callout - Design system testing
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l">New component</span>
        Callout
      </h1>

      <h2>When to use a callout</h2>

      <p>Use callouts to help users identify and understand important content on the page.</p>

      <h2>Callout variantions</h2>
      <h3>Highlight</h3>
      <!--<p>Use the highlight to differentiate a block of text from the content that surrounds it, for example:</p>
      <ul>
        <li>quotes</li>
        <li>examples</li>
        <li>additional information about the page</li>
      </ul>-->
      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/highlight.html" %}
      </div>

      <h3>Notice</h3>
      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/notice.html" %}
      </div>

      <h3>Urgent</h3>
      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/urgent.html" %}
      </div>

      <h3>Immediate</h3>
      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/immediate.html" %}
      </div>

      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/immediate-111.html" %}
      </div>

      <h3>Current care card styles</h3>
      <h4 class="nhsuk-heading-xs">Non-urgent care card</h4>
      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/notice-block.html" %}
      </div>

      <h4 class="nhsuk-heading-xs">Urgent care card</h4>
      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/urgent-block.html" %}
      </div>

      <h4 class="nhsuk-heading-xs">Immediate care card</h4>
      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/immediate-block.html" %}
      </div>

      <h3>Warning</h3>
      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/warning.html" %}
      </div>

      <h3>Warning - feature heading</h3>
      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/warning-feature.html" %}
      </div>

      <h3>Notice - feature heading</h3>
      <div class="app-example app-example--tag">
        {% include "includes/callout-variants/notice-feature.html" %}
      </div>

      <h2>In context (example pages)</h2>
      <ul>
        <li><a href="/page-examples/chickenpox">Chickenpox</a> (NHS website)</li>
        <li><a href="/page-examples/confirmation-page">Confirmation page</a> (Status checker)</li>
      </ul>

      {{ backLink({
        "href": "/",
        "text": "Go back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}
        
    </div>  
  </div>
{% endblock %}
