{% extends 'layout.html' %}

{% block pageTitle %}
  Card - Design system testing
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l">New component</span>
        Card
      </h1>

      <h2>Overview</h2>
      <p>The <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/159">panel</a> and <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/91">promo</a> are two components in the <a href="https://github.com/nhsuk/nhsuk-frontend">NHS.UK frontend</a> that do not have guidance in the service manual. They both also share a lot of the same structure and design. This has confused users of the design system, with people not knowing when and how to use the components.</p>
      <p>The content of the current promo component is all contained within a link (anchor tag) and this can be a <a href="https://designsystem.gov.au/components/card/rationale/#cards-as-links">difficult experience for screenreader users</a>.</p>
      <p>We are proposing to combine the two components into one new component (card), add guidance to the service manual and improve the accessibility with new code.</p>
      <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/159">Backlog issue 159 (GitHub)</a></p>

      <h2>Design decisions</h2>
      <p>We have added a:</p>
      <ul>
        <li>border around the cards to stop them <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/159#issuecomment-660955710">blending into the grey background</a></li>
        <li>thicker bottom border and a darker border on hover for the clickable cards, to indicate the entire card can be selected</li>
      </ul>

      <h2>When to use a card</h2>
      <p>Use a card component to provide a brief summary of content or a task, often with a link to more detail.</p>

      <h2>Card variations</h2>

      <h3>Basic card</h3>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/basic.html" %}
      </div>

      <h3>Clickable card</h3>
      <p>When using the clickable card, you place a link within the card heading, and add the class <code>nhsuk-card--clickable</code> to the parent level <code>nhsuk-card</code>.</p>
      <p>When this class is applied, it will trigger some JavaScript and users will be able to click the entire card.</p>
      <p>If the JavaScript is not available the card will fallback to only the heading link being clickable.</p>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/clickable.html" %}
      </div>

      <h3>With image</h3>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/image.html" %}
      </div>

      <h3>With footer link</h3>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/footer-link.html" %}
      </div>

      <h3>With multiple links</h3>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/multiple-links.html" %}
      </div>

      <h3>With metadata</h3>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/metadata.html" %}
      </div>

      <h3>With heading caption</h3>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/heading-caption.html" %}
      </div>

      <h3>With action link</h3>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/action-link.html" %}
      </div>

      <h3>With video</h3>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/video.html" %}
      </div>

      <h3>With grey background</h3>
      <p>For cards on a white bckground.</p>
      
      <div class="app-example app-example--tag app-example--white">
        {% include "includes/card-variants/grey.html" %}
      </div>

      <h3>With no border (colour backgrounds)</h3>
      <div class="app-example app-example--tag app-example--blue">
        {% include "includes/card-variants/borderless.html" %}
      </div>

      <h3>Card group</h3>
      <p>Define the width of the cards using the <a href="#">grid system</a>.</p>
      <p>To make the cards the same height regardless of content you add <code>nhsuk-card-group</code> to the row and <code>nhsuk-card-group__item</code> to the column.</p>

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <p>Here's an example of using <code>nhsuk-grid-column-one-half</code>:</p>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/card-group-half.html" %}
      </div>
      
      <p>Here's an example of using <code>nhsuk-grid-column-one-third</code>:</p>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/card-group-third.html" %}
      </div>
      
      <p>Here's an example of using <code>nhsuk-grid-column-one-quarter</code>:</p>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/card-group-quarter.html" %}
      </div>

      <h3>Card list (NHS App)</h3>
      <p>Proposed as a 'Panel link' component - <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/249">Backlog issue 249</a></p>
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/card-group-app.html" %}
      </div>
      <p class="nhsuk-u-margin-bottom-6"><a href="/page-examples/prescriptions">Prescriptions page example (NHS App)</a></p>

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h3>Feature card</h3>

      <p>Proposing to supersede the do and don't list component code and rewrite the <a href="/do-dont-list">do and don't list component guidance as a design pattern</a>.</p>

      <div class="app-example app-example--tag">
        {% include "includes/card-variants/feature.html" %}
      </div>
      
      <p>Proposing to supersede the list panel component code and include an example of the component on the <a href="https://service-manual.nhs.uk/design-system/patterns/a-to-z-page">A to Z page pattern</a> guidance.</p>

      <div class="app-example app-example--tag">
        {% include "includes/card-variants/feature-2.html" %}
      </div>

      <h3>Confirmation card</h3>
      <p>Proposing to use this on <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/144">Confirmation pages</a>.</p>
      
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/confirmation.html" %}
      </div>

      <h3>Interruption card</h3>
      <p>Proposing to use this for the <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/241">Stop users in a journey to tell them important information pattern</a>.</p>
      
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/interruption.html" %}
      </div>

      <h2>Changing the heading level and size</h2>

      <p>You can change the level of the heading to <a href="https://service-manual.nhs.uk/accessibility/design#use-headings-correctly">make sure your headings reflect the page structure</a>.</p>
      <p>Here's an example of replacing the default <code>h3</code> heading with a <code>h2</code>:</p>
      
      <div class="app-example app-example--tag">
        {% include "includes/card-variants/accessibility-heading.html" %}
      </div>

      <p>You can change the size of the heading using <a href="https://service-manual.nhs.uk/design-system/styles/typography#headings">heading typography styles</a>.</p>
      <p>Here's an example of using a <code>h2</code> with a <code>nhsuk-heading-l</code> class to reduce the heading size:</p>

      <div class="app-example app-example--tag">
        {% include "includes/card-variants/accessibility-heading-class.html" %}
      </div>

      <h2>In context (example pages)</h2>
      <ul>
        <li><a href="/page-examples/social-care-hub">Social care and support guide</a> (NHS website)</li>
      </ul>

      <h2>Grab the code, test with users and feedback</h2>
      <p>The code can be found in the <a href="https://github.com/nhsuk/design-system-testing/tree/master/app">design system testing GitHub repo</a> and copied into your prototype:</p>
      <ul>
        <li><a href="https://github.com/nhsuk/design-system-testing/tree/master/app/views/includes/card-variants">HTML for the Alert component</a></li>
        <li><a href="https://github.com/nhsuk/design-system-testing/blob/master/app/assets/sass/components/_card.scss">Sass (CSS) for the Alert component </a></li>
      </ul>
      <p>Help the community by sharing in the <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/159">backlog issue</a> how the design tested.</p>

      {{ backLink({
        "href": "/",
        "text": "Go back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>  
  </div>
{% endblock %}
