{% extends 'layout.html' %}

{% block pageTitle %}
  Expander - Design system testing
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l">Component style updates</span>
        Expander
      </h1>

      <p class="nhsuk-lede-text">Updated expander component style to match the new <a href="/card">card component</a>.</p>

      <h2>Expander</h2>
      <div class="app-example app-example--tag">
        {{ details({
          "classes": "nhsuk-expander",
          "text": "Get your medical records",
          "HTML": "
          <p>You can see your GP records by:</p>
          <ul>
            <li>asking for them at your GP surgery </li>
            <li>going online to see them (if you have signed up for <a href=\"/using-the-nhs/nhs-services/gps/gp-online-services/\">GP online services</a>) </li>
          </ul>"
        }) }}
      </div>

      <h2>Expander group</h2>
      <div class="app-example app-example--tag">
        <div class="nhsuk-expander-group">
          {{ details({
            "classes": "nhsuk-expander",
            "text": "How to measure your blood glucose levels",
            "HTML": "
            <p>Testing your blood at home is quick and easy, although it can be uncomfortable. It does get better.</p>
            <p>You would have been given:</p>
            <ul>
              <li>a blood glucose metre</li>
              <li>small needles called lancets</li>
              <li>a plastic pen to hold the lancets</li>
              <li>small test strips</li>
            </ul>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "When to check your blood glucose level",
            "HTML": "
            <p>Try to check your blood:</p>
            <ul>
              <li>before meals</li>
              <li>2 to 3 hours after meals</li>
              <li>before, during (take a break) and after exercise</li>
            </ul>
            <p>This helps you understand your blood glucose levels and how they’re affected by meals and exercise. It should help you have more stable blood glucose levels.</p>
            "
          }) }}
        </div>
      </div>

      <h2>Expander (white background)</h2>
      <div class="app-example app-example--tag app-example--white">
        {{ details({
          "classes": "nhsuk-expander",
          "text": "Get your medical records",
          "HTML": "
          <p>You can see your GP records by:</p>
          <ul>
            <li>asking for them at your GP surgery </li>
            <li>going online to see them (if you have signed up for <a href=\"/using-the-nhs/nhs-services/gps/gp-online-services/\">GP online services</a>) </li>
          </ul>"
        }) }}
      </div>


      {{ backLink({
        "href": "/",
        "text": "Go back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>  
  </div>
{% endblock %}
