{% extends 'layout.html' %}

{% block pageTitle %}
  Design system testing
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-u-reading-width">
        <h1>Design system testing</h1>
        <p class="nhsuk-lede-text">Testing design styles, components and patterns that have been proposed in the <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/projects/1">community backlog</a> for the <a href="https://service-manual.nhs.uk/">NHS design system</a>.</p>
      </div>

      <h2>Proposed components</h2>

      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Code for components that need user testing</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" style="width: 33%" scope="col">Component</th>
              <th class="nhsuk-table__header" scope="col">Proposal</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/loading-spinner">Loading spinner</a></td>
              <td class="nhsuk-table__cell">New component</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/smaller-checkboxes-radios">Smaller checkboxes and radios</a></td>
              <td class="nhsuk-table__cell">A new variant of the checkbox component</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Proposed updates</h2>

      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Component and pattern guidance to update</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col" style="width: 33%">Component</th>
              <th class="nhsuk-table__header" scope="col">Proposal</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/do-dont-list">Do and don't list</a></td>
              <td class="nhsuk-table__cell">Refactor code, rewrite as pattern</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/list-panel">List panel</a></td>
              <td class="nhsuk-table__cell">Refactor code, remove component</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/nav-a-z">Nav A-Z</a></td>
              <td class="nhsuk-table__cell">Refactor code, remove component</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}
