{% extends 'layout.html' %}

{% block pageTitle %}
  Design system testing
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-u-reading-width">
        <h1>Design system testing</h1>
        <p class="nhsuk-lede-text">Design styles, components and patterns that have been proposed in the <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/projects/1">community backlog</a> for the <a href="https://service-manual.nhs.uk/">NHS digital service manual</a> (design system).</p>
      </div>

      <div class="nhsuk-u-reading-width">
        <h2>Components</h2>
        <p>All the components are in development and need testing with users.</p>
        <div class="nhsuk-inset-text nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-5">
          <p>To ensure components meet user needs and the code is robust and accessible. The service manual team needs teams from across the NHS to test the components and feedback how they tested.</p>
        </div>
      </div>

      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Proposal</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/alert">Alert</a></td>
              <td class="nhsuk-table__cell">New component</td>
            </tr>
            <!--<tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/callout">Callout</a></td>
              <td class="nhsuk-table__cell">New component (consolidating a few similar components)</td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag nhsuk-tag--orange">Early work</span></td>
            </tr>-->
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/card">Card</a></td>
              <td class="nhsuk-table__cell">New component (superseding the panel and promo components)</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/expander">Expander</a></td>
              <td class="nhsuk-table__cell">Updated component style</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/loading-spinner">Loading spinner</a></td>
              <td class="nhsuk-table__cell">New component</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/smaller-checkboxes-radios">Smaller checkboxes and radios</a></td>
              <td class="nhsuk-table__cell">A new variant of the checkbox component</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/tag">Tag</a></td>
              <td class="nhsuk-table__cell">New component</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="nhsuk-u-reading-width">
        <div class="nhsuk-inset-text">
          <h3>Grab the code, test with users and feedback</h3>
          <p>The code (HTML, Sass and JavaScript) for each component can be found in the <a href="https://github.com/nhsuk/design-system-testing/tree/master/app">design system testing GitHub repo</a> and copied into your prototype.</p>
          <p>Help the community by sharing how the components and patterns tested in the <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/projects/1">community backlog</a>.</p>
        </div>

        <h2>Guidance updates</h2>
      </div>

      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Proposal</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/do-dont-list">Do and don't list</a></td>
              <td class="nhsuk-table__cell">Refactor code, rewrite as pattern</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/review-date">Review date</a></td>
              <td class="nhsuk-table__cell">Refactor code, rewrite as pattern</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}
