{% extends 'layout.html' %}

{% block pageTitle %}
  Design system testing
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>Design system testing</h1>

      <h2>Components</h2>

      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Proposal</th>
              <th class="nhsuk-table__header" style="width: 160px" scope="col">Status</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/alert">Alert</a></td>
              <td class="nhsuk-table__cell">New component</td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag nhsuk-tag--red">Not ready</spam></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/callout">Callout</a></td>
              <td class="nhsuk-table__cell">New component</td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag nhsuk-tag--red">Not ready</spam></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/card">Card</a></td>
              <td class="nhsuk-table__cell">New component</td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag nhsuk-tag--aqua-green">Ready to review</spam></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/do-dont-list">Do and don't list</a></td>
              <td class="nhsuk-table__cell">Refactor code, rewrite as pattern</td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag nhsuk-tag--aqua-green">Ready to review</spam></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/expander">Expander</a></td>
              <td class="nhsuk-table__cell">Update component style</td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag nhsuk-tag--aqua-green">Ready to review</spam></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/loader">Loader (Spinner)</a></td>
              <td class="nhsuk-table__cell">New component</td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag nhsuk-tag--aqua-green">Ready to review</spam></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/review-date">Review date</a></td>
              <td class="nhsuk-table__cell">Refactor code, rewrite as pattern</td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag nhsuk-tag--aqua-green">Ready to review</spam></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/smaller-checkboxes-radios">Smaller checkboxes and radios</a></td>
              <td class="nhsuk-table__cell">New component variant</td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag nhsuk-tag--aqua-green">Ready to review</spam></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="/tag">Tag</a></td>
              <td class="nhsuk-table__cell">New component</td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag nhsuk-tag--aqua-green">Ready to review</spam></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}
