{% extends 'layout.html' %}

{% block pageTitle %}
  List panel - Design system testing
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        List panel
      </h1>

      <h2>Proposal</h2>
      <p>We are proposing to:</p>
      <ul>
        <li>remove the list panel component</li>
        <li>build a list panel with a card component, typography styles and utility classes</li>
      </ul>

      <h2>Styles</h2>
      <p>We could add a <code>nhsuk-list--border</code> style to the <a href="https://service-manual.nhs.uk/design-system/styles/typography#lists">list styles in typography</a>.</p>
      <p>The list border style is being used on the <a href="https://service-manual.nhs.uk/search/?search-field=test">service manual</a> and NHS website search pages.</p>

      <div class="app-example app-example--tag">
        <ul class="nhsuk-list nhsuk-list--border">
          <li><a href="#">List item as a link</a></li>
          <li><a href="#">List item as a link</a></li>
          <li><a href="#">List item as a link</a></li>
        </ul>
      </div>

      <div class="app-example app-example--tag">
        <ul class="nhsuk-list nhsuk-list--border">
          <li><a href="#">List item as a link</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">Wednesday  18 March  2020</p>
          </li>
          <li><a href="#">List item as a link</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">Wednesday  18 March  2020</p>
          </li>
          <li><a href="#">List item as a link</a>
            <p class="nhsuk-body-s nhsuk-u-margin-top-1 nhsuk-u-secondary-text-color">Wednesday  18 March  2020</p>
          </li>
        </ul>
      </div>

      <h2>Components</h2>
      <p>We could use the list border style in the card component.</p>

      <div class="app-example app-example--tag">
        {{ card({
          "feature": "true",
          "heading": "A",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
          <li><a href='#'>AAA</a></li>
          <li><a href='#'>AAA screening</a></li>
        </ul>"
        }) }}
      </div>

      <h2>Pattern</h2>
      <p>The <a href="https://service-manual.nhs.uk/design-system/patterns/a-to-z-page">A to Z page</a> guidance in the design system could stay the same. We would just update the code examples.</p>

      <div class="app-example app-example--tag">
        {{ card({
          "feature": "true",
          "heading": "A",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
          <li><a href='#'>AAA</a></li>
          <li><a href='#'>AAA screening</a></li>
        </ul>"
        }) }}

        {{ card({
          "feature": "true",
          "heading": "B",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
          <li><a href='#'>Back pain</a></li>
          <li><a href='#'>Bed bugs</a></li>
        </ul>"
        }) }}

      </div>

      <h2>Page examples</h2>

      <ul>
        <li><a href="/page-examples/health-a-z">Health A to Z</a></li>
        <li><a href="/page-examples/health-a-z-new">Health A to Z - with expanders</a></li>
      </ul>

      <h2>Code</h2>
      <p>Find the page <a href="https://github.com/nhsuk/design-system-testing/blob/master/app/views/list-panel.html">HTML on GitHub</a>.</p>

      {{ backLink({
        "href": "/",
        "text": "Go back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}
        
    </div>  

  </div>
{% endblock %}
