{% extends 'layout.html' %}

{% block pageTitle %}
  Loading spinner - Design system testing
{% endblock %}

{% block beforeContent %}
  <!-- Breadcrumb -->
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Loading spinner
      </h1>

      <h2>Overview</h2>
      <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/255">Backlog issue 255 (GitHub)</a></p>

      <h2>When to use a loading spinner</h2>
      <p>Help users understand that they need to wait for something to happen.</p>

      <h2>Loading spinner variations</h2>

      <h3>Default</h3>
      <div class="app-example app-example--tag">
        <div class="nhsuk-loader">
          <span class="nhsuk-loader__spinner"></span>
        </div>
      </div>

      <h3>Default with text</h3>
      <div class="app-example app-example--tag">
        <div class="nhsuk-loader">
          <span class="nhsuk-loader__spinner"></span>
          <span class="nhsuk-loader__text">Loading</span>
        </div>
      </div>

      <h3>Small loader with text</h3>
      <div class="app-example app-example--tag">
        <div class="nhsuk-loader nhsuk-loader--small">
          <span class="nhsuk-loader__spinner"></span>
          <span class="nhsuk-loader__text">Searching for your location</span>
        </div>
      </div>

      <h3>White for colour backgrounds</h3>
      <div class="app-example app-example--tag app-example--blue">
        <div class="nhsuk-loader nhsuk-loader--white">
          <span class="nhsuk-loader__spinner"></span>
          <span class="nhsuk-loader__text">Loading</span>
        </div>
      </div>

      <h2>Accessbility</h2>
      <p>Need to look at including a <code>prefers-reduced-motion</code> media query to replace the image with "Loading…" text if requested.</p>

      {{ backLink({
        "href": "/",
        "text": "Go back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>  
  </div>
{% endblock %}
