{% extends 'layout.html' %}

{% block pageTitle %}
  Loader (spinner) - Design system testing
{% endblock %}

{% block beforeContent %}
  <!-- Breadcrumb -->
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l">New component</span>
        Loader (Spinner)
      </h1>

      <h2>Loader variations</h2>

      <h3>Default</h3>
      <div class="app-example app-example--tag">
        <div class="nhsuk-loader">
          <span class="nhsuk-loader__spinner"></span>
        </div>
      </div>

      <h3>Default with text</h3>
      <div class="app-example app-example--tag">
        <div class="nhsuk-loader">
          <span class="nhsuk-loader__spinner"></span>
          <span class="nhsuk-loader__text">Checking your email address</span>
        </div>
      </div>

      <h3>Small loader with text</h3>
      <div class="app-example app-example--tag">
        <div class="nhsuk-loader nhsuk-loader--small">
          <span class="nhsuk-loader__spinner"></span>
          <span class="nhsuk-loader__text">Searching for your location</span>
        </div>
      </div>

      {{ backLink({
        "href": "/",
        "text": "Go back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>  
  </div>
{% endblock %}
