<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Review date - Refactoring components
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <!-- Breadcrumb -->
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        <span class="nhsuk-caption-l">Refactoring components</span>
        Review date 
      </h1>

      <p>The review date component could be removed and instead be made from existing styles and become a design pattern.</p>

      <h2>Styles</h2>
      <p>It can use the styles <code>nhsuk-body-s</code>, <code>nhsuk-u-secondary-text-color</code> and <a href="https://service-manual.nhs.uk/design-system/styles/spacing">spacing overrides</a> (if needed).</p>
      <p>For example:</p>
      <p class="nhsuk-body-s nhsuk-u-secondary-text-color">
        Page last reviewed: 12 February 2017<br>
        Next review due: 1 February 2020
      </p>

      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-5">
        Updated: June 2019
      </p>

      <h2>Components</h2>
      <p>Doesn't need a component.</p>

      <h2>Pattern</h2>
      <p>The <a href="https://service-manual.nhs.uk/design-system/styles/spacing">review date component</a> would become a pattern "Reassure users that your information is up-to-date".</p>
        
    </div>  

  </div>
{% endblock %}
