{% extends 'layout.html' %}

{% block pageTitle %}
  Tag - Design system testing
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l">New component</span>
        Tag
      </h1>

      <h2>Background</h2>
      <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/174">Backlog issue 174 (GitHub)</a></p>
      <p>The design and code is based on the <a href="https://design-system.service.gov.uk/components/tag/">GOV.UK Design System tag component</a>. It has been tested by various NHS services, including the coronavirus testing service and the NHS App.</p>

      <h2 id="when-to-use-this-component">When to use a tag</h2>
      <p>Use the tag component when it’s possible for something to have more than one status and it’s useful for the user to know about that status. For example, you can use a tag to show whether an item in a <a href="/page-examples/task-list">task list</a> has been ‘completed’.</p>
      
      <h2 id="using-coloured-tags">Tag variations</h2>

      <table class="nhsuk-table">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col"> Class name </th>
            <th class="nhsuk-table__header" scope="col"> Tag </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/default.html" %}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--white </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/white.html" %}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--grey </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/grey.html" %}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--green </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/green.html" %}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--aqua-green </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/aqua-green.html" %}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--blue </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/blue.html" %}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--purple </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/purple.html" %}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--pink </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/pink.html" %}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--red </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/red.html" %}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--orange </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/orange.html" %}
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--yellow </code>
            </td>
            <td class="nhsuk-table__cell">
              {% include "includes/tag-variants/yellow.html" %}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 id="accessibility">Accessibility</h2>
      <p>All contrasts between text and background meet level AAA of WCAG 2.0. Read more about <a href="https://service-manual.nhs.uk/design-system/styles/colour#accessibility">accessibility and colour</a>.</p>

      <h2>Grab the code, test with users and feedback</h2>
      <p>The code can be found in the <a href="https://github.com/nhsuk/design-system-testing/tree/master/app">design system testing GitHub repo</a> and copied into your prototype:</p>
      <ul>
        <li><a href="https://github.com/nhsuk/design-system-testing/tree/master/app/views/includes/tag-variants">HTML for the Tag component</a></li>
        <li><a href="https://github.com/nhsuk/design-system-testing/blob/master/app/assets/sass/components/_tag.scss">Sass (CSS) for the Tag component </a></li>
      </ul>
      <p>Help the community by sharing in the <a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/174">backlog issue</a> how the design tested.</p>

      {{ backLink({
        "href": "/",
        "text": "Go back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>
  </div>
{% endblock %}
